**Data Exploration and loading**

In [25]:
#libraries and PSQL connections

import polars as pl
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
import pyarrow 
import sys 
!{sys.executable} -m pip install pyarrow

print("polars",pl.__version__)
print("psycopg2",psycopg2.__libpq_version__)
print("pyarrow",pyarrow.__version__)

Requirement already satisfied: pyarrow in ./lib/python3.13/site-packages (22.0.0)
polars 1.36.1
psycopg2 180001
pyarrow 22.0.0

In [26]:
# Setting up datasets

file_path = ("~/dev/Projects/Python_ETL/env_1/Walmart.csv")

df = pl.read_csv(file_path, encoding= "utf8")

df.shape

#df.head(5)

(10051, 11)

In [27]:

df.describe()

shape: (9, 12)
┌────────────┬─────────────┬─────────┬─────────┬───┬──────────┬────────────┬──────────┬────────────┐
│ statistic  ┆ invoice_id  ┆ Branch  ┆ City    ┆ … ┆ time     ┆ payment_me ┆ rating   ┆ profit_mar │
│ ---        ┆ ---         ┆ ---     ┆ ---     ┆   ┆ ---      ┆ thod       ┆ ---      ┆ gin        │
│ str        ┆ f64         ┆ str     ┆ str     ┆   ┆ str      ┆ ---        ┆ f64      ┆ ---        │
│            ┆             ┆         ┆         ┆   ┆          ┆ str        ┆          ┆ f64        │
╞════════════╪═════════════╪═════════╪═════════╪═══╪══════════╪════════════╪══════════╪════════════╡
│ count      ┆ 10051.0     ┆ 10051   ┆ 10051   ┆ … ┆ 10051    ┆ 10051      ┆ 10051.0  ┆ 10051.0    │
│ null_count ┆ 0.0         ┆ 0       ┆ 0       ┆ … ┆ 0        ┆ 0          ┆ 0.0      ┆ 0.0        │
│ mean       ┆ 5025.74122  ┆ null    ┆ null    ┆ … ┆ null     ┆ null       ┆ 5.825659 ┆ 0.393791   │
│ std        ┆ 2901.174372 ┆ null    ┆ null    ┆ … ┆ null     ┆ null       ┆ 1.763991 ┆ 0.090669   │
│ min        ┆ 1.0         ┆ WALM001 ┆ Abilene ┆ … ┆ 10:00:00 ┆ Cash       ┆ 3.0      ┆ 0.18       │
│ 25%        ┆ 2514.0      ┆ null    ┆ null    ┆ … ┆ null     ┆ null       ┆ 4.0      ┆ 0.33       │
│ 50%        ┆ 5026.0      ┆ null    ┆ null    ┆ … ┆ null     ┆ null       ┆ 6.0      ┆ 0.33       │
│ 75%        ┆ 7539.0      ┆ null    ┆ null    ┆ … ┆ null     ┆ null       ┆ 7.0      ┆ 0.48       │
│ max        ┆ 10000.0     ┆ WALM100 ┆ Weslaco ┆ … ┆ 9:59:00  ┆ Ewallet    ┆ 10.0     ┆ 0.57       │
└────────────┴─────────────┴─────────┴─────────┴───┴──────────┴────────────┴──────────┴────────────┘

In [28]:

df.is_duplicated().sum()

#df.head()

102

In [29]:
# Dropping all duplicates

df = df.filter(
    ~pl.struct(pl.all()).is_duplicated()
)

# Dropping null values

df = df.drop_nulls(subset=["unit_price","quantity"])

df.drop_nulls()

df.shape

(9918, 11)

In [30]:
# Removing unwanted characters

df = df.with_columns(
  
  pl.col("unit_price")
  .cast(pl.Utf8)
  .str.replace_all(r"[\$.]","")
  .str.strip_chars()
  .alias("unit_price")
)

# Casting both columns

df = df.with_columns([
  pl.col("unit_price").cast(pl.Float64, strict= False),
  pl.col("quantity").cast(pl.Float64, strict = False)  
])

# Total column multiplication

df = df.with_columns(
  
  (pl.col("unit_price") * pl.col("quantity")).alias("Total")

)

df.shape

(9918, 12)

In [32]:
# move polars to pandas

df_pd = df.to_pandas()

# Host credentials

import credentials as cred

# Setting up string

engine = create_engine (
    
    f"postgresql+psycopg2://{cred.DB_USER}:{cred.DB_PASSWORD}@{cred.DB_HOST}:{cred.DB_PORT}/{cred.DB_NAME}"
    
)

print(engine.connect()) 

# Loading / Write to Postgres

df_pd.to_sql(
    
    name = "walmart",
    con = engine,
    if_exists= "replace",
    index= False
)

try:
    engine
    print(f"Connection Made {engine.connect}")
    
except:
    print("Unable to connect")

<sqlalchemy.engine.base.Connection object at 0x1247a7070>
Connection Made <bound method Engine.connect of Engine(postgresql+psycopg2://postgres:***@localhost:5432/Walmartdb)>